<template>
  <div class="{{name}}-container"></div>
</template>

<script>
  export default {
    name: '{{ properCase name }}',
    components: {},
    setup() {
      return {}
    }
  }
</script>

<style scoped>

</style>
